# Python Análisis de Datos

Tutorial de https://pythonprogramming.net/data-analysis-python-pandas-tutorial-introduction/

In [1]:
# importación de módulos
import pandas as pd
import datetime
import pandas_datareader.data as web
import matplotlib.pyplot as plt
from matplotlib import style

Los tres formatos de fecha funcionan correctamente.

In [3]:
# imortar cotizaciones de un valor, desde Yahoo
#start = datetime.datetime(2010, 1, 1)  # necesita importar datetime
#end = datetime.datetime.now()
#start = pd.Timestamp("2016/1/1")
#end = pd.Timestamp("2018/1/30") 
start = "2016-01-01"    
end = "2018-02-05"
#import warnings
#warnings.simplefilter(action='ignore', category=FutureWarning) 

# Imoprtar cotizaciones de un único valor
#df = web.DataReader('XCM', 'yahoo', start, end)
df = web.DataReader('IBE.MC', 'yahoo', start, end)
#df.reset_index(inplace=True)   # deshacer índice
#df.set_index("Date", inplace=True)  # hacer índice la columna Date
#df = df.drop("Symbol", axis=1)  # eliminar una etiqueta índice
df[:3]

             High    Low   Open  Close      Volume  Adj Close
Date
2016-01-04  6.498  6.373  6.475  6.414  87677427.0   5.535354
2016-01-05  6.509  6.398  6.450  6.493  39578563.0   5.603532
2016-01-06  6.496  6.400  6.496  6.461  26216138.0   5.575915

### importar cotizaciones de varios valores

In [4]:
# Obtener df de cada ticker en un único df, ordenado por ticker y por fechas 
tickers = ["IBE.MC", "R4.MC", "TRUEVALUEFI.BC", "F00000H5PN.BC"]
def get(tickers, start, end):
    def data(ticker):
        return web.DataReader(ticker, 'yahoo', start, end)
    datas = map(data, tickers)       
    return pd.concat(datas, keys=tickers, names=['Ticker','Date'])

all_data = get(tickers, start, end)
all_data[:3]

                    High    Low   Open  Close      Volume  Adj Close
Ticker Date
IBE.MC 2016-01-04  6.498  6.373  6.475  6.414  87677427.0   5.535354
       2016-01-05  6.509  6.398  6.450  6.493  39578563.0   5.603532
       2016-01-06  6.496  6.400  6.496  6.461  26216138.0   5.575915

In [6]:
all_data.reset_index(inplace=True)   # deshacer índice
all_data.set_index("Date", inplace=True)  # hacer índice la columna Date
#df = df.drop("Symbol", axis=1)  # eliminar una etiqueta índice
all_data[:3]

            Ticker   High    Low   Open  Close      Volume  Adj Close
Date
2016-01-04  IBE.MC  6.498  6.373  6.475  6.414  87677427.0   5.535354
2016-01-05  IBE.MC  6.509  6.398  6.450  6.493  39578563.0   5.603532
2016-01-06  IBE.MC  6.496  6.400  6.496  6.461  26216138.0   5.575915

In [13]:
df_filtered = all_data.mask(lambda x: x['Ticker'] == "IBE.MC")
df_filtered[:3]

           Ticker  High  Low  Open  Close  Volume  Adj Close
Date
2016-01-04    NaN   NaN  NaN   NaN    NaN     NaN        NaN
2016-01-05    NaN   NaN  NaN   NaN    NaN     NaN        NaN
2016-01-06    NaN   NaN  NaN   NaN    NaN     NaN        NaN

In [ ]:
web_stats = {'Day':[1,2,3,4,5,6],
             'Visitors':[43,34,65,56,29,76],
             'Bounce Rate':[65,67,78,65,45,52]}

# convertimos el diccionario en un DataFrame
df = pd.DataFrame(web_stats)
df.set_index('Day', inplace=True)
df

In [ ]:
df = pd.read_csv('ZILLOW-Z77006_ZRISFRR.csv')
df.set_index('Date', inplace = True)
df.to_csv('newcsv2.csv')

df = pd.read_csv('newcsv2.csv')
df = pd.read_csv('newcsv2.csv', index_col=0)
# cambiar nombre de una columna
df.columns = ['House_Prices']
#df.to_csv('newcsv3.csv')
df.to_csv('newcsv4.csv', header=False)


print(df.head())

In [ ]:
df = pd.read_csv('newcsv4.csv', names = ['Date','House_Price'])
print(df.head())

df.rename(columns={'House_Price':'Prices'}, inplace=True)
print(df.head())

In [ ]:
import quandl
# Not necessary, I just do this so I do not show my API key.
df = quandl.get("FMAC/HPI_TX", authtoken="1KPAsT__H3CRmAJDn4Xk")
print(df.head())
# buscando estados
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
print(fiddy_states)

In [ ]:
# buscando estados
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
print(fiddy_states)

In [ ]:
print(fiddy_states[0])

In [ ]:
for abbv in fiddy_states[0][1][1:]:
    print(abbv)

In [ ]:
for abbv in fiddy_states[0][0][1:]:
    #print(abbv)
    print("FMAC/HPI_"+str(abbv))

In [ ]:
# dataFrames para comenzar
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])
df1

In [ ]:
df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])
df3

### Concat y append

In [ ]:
# concatenación simple
concat = pd.concat([df1,df2])
print(concat)

In [ ]:
concat = pd.concat([df1,df2,df3])
print(concat)

In [ ]:
# agregar
df4 = df1.append(df2)
print(df4)

In [ ]:
# agregar datos con el mismo índice
df4 = df1.append(df3)
print(df4)

In [ ]:
s = pd.Series([80,2,50], index=['HPI','Int_rate','US_GDP_Thousands'])
df4 = df1.append(s, ignore_index=True)
print(df4)

### joint and merging

In [ ]:
df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

In [ ]:
# compartiendo una columna
print(pd.merge(df1,df3, on='HPI'))

In [ ]:
# compartiendo dos columnas
print(pd.merge(df1,df2, on=['HPI','Int_rate']))

In [ ]:
# mezclamos y establecemos un índice nuevo
df4 = pd.merge(df1,df3, on='HPI')
df4.set_index('HPI', inplace=True)
print(df4)

In [ ]:
# si el índice ya existía, usaremos join
df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)

joined = df1.join(df3)
print(joined)

In [ ]:
df1 = pd.DataFrame({
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55],
                    'Year':[2001, 2002, 2003, 2004]
                    })

df3 = pd.DataFrame({
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53],
                    'Year':[2001, 2003, 2004, 2005]})

In [ ]:
merged = pd.merge(df1,df3, on='Year')
print(merged)

In [ ]:
merged = pd.merge(df1,df3, on='Year')
merged.set_index('Year', inplace=True)
print(merged)

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='left')
merged.set_index('Year', inplace=True)
print(merged)

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='right')
merged.set_index('Year', inplace=True)
print(merged)

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='outer')
merged.set_index('Year', inplace=True)
print(merged)

In [ ]:
merged = pd.merge(df1,df3, on='Year', how='inner')
merged.set_index('Year', inplace=True)
print(merged)

In [ ]:
df1.set_index('Year', inplace=True)
df3.set_index('Year', inplace=True)
joined = df1.join(df3, how="outer")
print(joined)

### Lección 7

In [33]:
api_key = "1KPAsT__H3CRmAJDn4Xk"

# buscando estados
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

main_df = pd.DataFrame()

for abbv in fiddy_states[0][0][1:]:
    #print(abbv)
    query = "FMAC/HPI_"+str(abbv)
    df = quandl.get(query, authtoken=api_key)
    if main_df.empty:
        main_df = df
    else:
        main_df = main_df.join(df)

NotFoundError: (Status 404) (Quandl Error QECx02) You have submitted an incorrect Quandl code. Please check your Quandl codes and try again.

In [ ]:
import quandl
import pandas as pd

api_key = "1KPAsT__H3CRmAJDn4Xk"

df = quandl.get("FMAC/HPI_TX", authtoken="1KPAsT__H3CRmAJDn4Xk")

# buscando estados
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')

main_df = pd.DataFrame()

for abbv in fiddy_states[0][0][1:]:
    query = "FMAC/HPI_"+str(abbv)
    df = quandl.get(query, authtoken=api_key)

    if main_df.empty:
        main_df = df
    else:
        main_df = main_df.join(df)